<app-title tituloPrincipal="LANÇAMENTOS"></app-title>
<div class="container__card__exclusivos">
  <app-card
    gameCover="assets/astrobot.avif"
    gameLabel="EXCLUSIVO"
    gametype="PS4 | PS5"
    gamePrice="599,99"
  >
  </app-card>
  <app-card
    gameCover="assets/blackopss.avif"
    gameLabel="OFERTA"
    gametype="PS4 | PS5"
    gamePrice="99,99"
  >
  </app-card>
  <app-card
    gameCover="assets/box.avif"
    gameLabel="OFERTA"
    gametype="PS4 | PS5"
    gamePrice="99,99"
  >
  </app-card>
  <app-card
    gameCover="assets/daysgone.avif"
    gameLabel="OFERTA"
    gametype="PS4 | PS5"
    gamePrice="99,99"
  >
  </app-card>
  <app-card
    gameCover="assets/fc25.avif"
    gameLabel="NOVO"
    gametype="PS4 | PS5"
    gamePrice="699,99"
  >
  </app-card>
  <app-card
    gameCover="assets/fortnite.avif"
    gameLabel="CLASSICO"
    gametype="PS3 | PS4"
    gamePrice="59,99"
  >
  </app-card>
</div>

<app-title tituloPrincipal="JOGOS GRATUITOS"></app-title>

<div class="container__card__gratis">
  <app-card
    gameCover="assets/ciclo.avif "
    gameLabel="GRÁTIS"
    gametype="Multi  versus"
    gamePrice="GRÁTIS"
  >
  </app-card>
  <app-card
    gameCover="assets/helldivers.avif"
    gameLabel="GRÁTIS"
    gametype="PC"
    gamePrice="GRÁTIS"
  >
  </app-card>
  <app-card
    gameCover="assets/ronin.avif"
    gameLabel="GRÁTIS"
    gametype="PC"
    gamePrice="GRÁTIS"
  >
  </app-card>
  <app-card
    gameCover="assets/pirate.avif"
    gameLabel="GRÁTIS"
    gametype="PC"
    gamePrice="GRÁTIS"
  >
  </app-card>
  <app-card
    gameCover="assets/promise.avif"
    gameLabel="GRÁTIS"
    gametype="PC"
    gamePrice="GRÁTIS"
  >
  </app-card>
  <app-card
    gameCover="assets/rust.avif"
    gameLabel="CLÁSSICO"
    gametype="PC"
    gamePrice="GRÁTIS"
  >
  </app-card>
</div>
