<app-title tituloPrincipal="LANÇAMENTOS"></app-title>
<div class="container__card__exclusivos">
    <app-card
    gameCover="assets/Horizon-Forbidden-west.webp"
    gameLabel="EXCLUSIVO"
    gametype="PS4 | PS5"
    gamePrice="599,99"
>
</app-card>
<app-card
    gameCover="assets/spiderman-miles.webp"
    gameLabel="OFERTA"
    gametype="PS4 | PS5"
    gamePrice="99,99"
>
</app-card>
<app-card
    gameCover="assets/ratchet-and-clank.webp"
    gameLabel="OFERTA"
    gametype="PS4 | PS5"
    gamePrice="99,99"
    
>
</app-card>
<app-card
    gameCover="assets/ghost-of-tsushima.webp"
    gameLabel="OFERTA"
    gametype="PS4 | PS5"
    gamePrice="99,99"
>
</app-card>
<app-card
    gameCover="assets/bloodborne.webp"
    gameLabel="NOVO"
    gametype="PS4 | PS5"
    gamePrice="699,99"
>
</app-card>
<app-card
    gameCover="assets/sackboy.webp"
    gameLabel="CLASSICO"
    gametype="PS3 | PS4"
    gamePrice="59,99"
>
</app-card>
</div>

<app-title tituloPrincipal="JOGOS GRATUITOS" ></app-title>

<div class="container__card__gratis">
    <app-card
    gameCover="assets/multiversus-gratis.webp"
    gameLabel="GRÁTIS"
    gametype="Multi  versus"
    gamePrice="GRÁTIS"
>
</app-card>
<app-card
    gameCover="assets/warframe-gratis.webp"
    gameLabel="GRÁTIS"
    gametype="PC"
    gamePrice="GRÁTIS"
>
</app-card>
<app-card
    gameCover="assets/overwatch-2-gratis.webp"
    gameLabel="GRÁTIS"
    gametype="PC"
    gamePrice="GRÁTIS"
    
>
</app-card>
<app-card
    gameCover="assets/apex-legends-store-gratis.webp"
    gameLabel="GRÁTIS"
    gametype="PC"
    gamePrice="GRÁTIS"
>
</app-card>
<app-card
    gameCover="assets/fall-guys-ffa-gratis.webp"
    gameLabel="GRÁTIS"
    gametype="PC"
    gamePrice="GRÁTIS"
>
</app-card>
<app-card
    gameCover="assets/fortnite-store-gratis.webp"
    gameLabel="CLÁSSICO"
    gametype="PC"
    gamePrice="GRÁTIS"
>
</app-card>
 
</div>
