<div class="container">
  <div class="menu-bar_logo">
    <img
      src="assets/logo2.webp"
      alt="playstation logo"
      srcset=""
      width="140px"
      height="40px"
    />
  </div>
  <div class="menu-bar_item">
    <ul>
      <li>
        <a href="https://www.linkedin.com/in/genessesfernandes/" target="_blank"
          >LINKEDIN</a
        >
      </li>
      <li>
        <a href="https://github.com/Genesses12" target="_blank">GITHUB </a>
      </li>
      <li>
        <a
          href="https://www.youtube.com/channel/UCb4p48L2Emyf4E1XCThjiYQ"
          target="_blank"
          >YOUTUBE</a
        >
      </li>
    </ul>
  </div>
</div>
